.bundle
.rbenv-version
.ruby-version
.rvmrc
.yardoc
coverage
db/*.sqlite3
doc/*
log/*.log
tmp/**/*
tmp/cache/*
tmp/sessions/*
tmp/sockets/*
vendor/bundle
vendor/bundles

/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/.vscode
