<ul class="social tk-museo">
  <% Settings.social.each do |s| %>
    <li>
      <%= link_to(s['name'], s['url']) %>
    </li>
  <% end %>
  <li>
    <a id="search-enabler" class="tk-museo">Search</a>
  </li>
</ul>
