<% title @post.title -%>

<p id="notice"><%= notice %></p>

<article class="post">
  <header>
    <h1><%= link_to @post.created_at, @post %></h1>
  </header>
  <div class="content">
    <%= raw @post.html %>
  </div>
</article>
